@font-face {
  font-family: 'RalewayRegular';
  src: url('Raleway/Raleway-Regular.eot');
  src: url('Raleway/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
  url('Raleway/Raleway-Regular.woff') format('woff'),
  url('Raleway/Raleway-Regular.ttf') format('truetype'),
  url('Raleway/Raleway-Regular.svg#ralewayregular') format('svg');
  font-style: normal;
  font-weight: normal;
}

@font-face{
  font-family: "RalewayItalic";
  src: url('Raleway/Raleway-Italic.eot');
  src: url('Raleway/Raleway-Italic.eot?#iefix') format('embedded-opentype'),
  url('Raleway/Raleway-Italic.woff') format('woff'),
  url('Raleway/Raleway-Italic.ttf') format('truetype'),
  url('Raleway/Raleway-Italic.svg#ralewayitalic') format('svg');
  font-style: normal;
  font-weight: normal;
}

@font-face{
  font-family: "RalewaySemiBold";
  src: url('Raleway/Raleway-SemiBold.eot');
  src: url('Raleway/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('Raleway/Raleway-SemiBold.woff') format('woff'),
  url('Raleway/Raleway-SemiBold.ttf') format('truetype'),
  url('Raleway/Raleway-SemiBold.svg#ralewaysemibold') format('svg');
  font-style: normal;
  font-weight: bold;
}

@font-face{
  font-family: "RalewayBold";
  src: url('Raleway/Raleway-Bold.eot');
  src: url('Raleway/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
  url('Raleway/Raleway-Bold.woff') format('woff'),
  url('Raleway/Raleway-Bold.ttf') format('truetype'),
  url('Raleway/Raleway-Bold.svg#ralewaybold') format('svg');
  font-style: normal;
  font-weight: bold;
}

@font-face{
  font-family: "RalewayExtraBold";
  src: url('Raleway/Raleway-ExtraBold.eot');
  src: url('Raleway/Raleway-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('Raleway/Raleway-ExtraBold.woff') format('woff'),
  url('Raleway/Raleway-ExtraBold.ttf') format('truetype'),
  url('Raleway/Raleway-ExtraBold.svg#ralewayextrabold') format('svg');
  font-style: normal;
  font-weight: bold;
}

$font-family-normal: 'RalewayRegular', Helvetica, sans-serif;
$font-family-italic: 'RalewayItalic', Helvetica, sans-serif;
$font-family-semi-bold: 'RalewaySemiBold', Helvetica, sans-serif;
$font-family-bold: 'RalewayBold', Helvetica, sans-serif;
$font-family-extra-bold: 'RalewayExtraBold', Helvetica, sans-serif;