@import "fonts";

body {
  font-family: $font-family-normal;
}

.italic {
  font-family: $font-family-italic;
}

.bold {
  font-family: $font-family-bold;
}

.semi-bold {
  font-family: $font-family-semi-bold;
}

.extra-bold {
  font-family: $font-family-extra-bold;
}